@import 'variables';
@import 'mixins';

body {
  -moz-transition: 8s ease-in-out;
  -o-transition: 8s ease-in-out;
  -webkit-transition: 8s ease-in-out;
  background-color: #000;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  color: $font-color;
  font-family: $font-stack;
  font-size: $f6;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  transition: 8s ease-in-out;
  width: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.main {
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 20;

  @media (max-width: $bp-lg) {
    width: 100%;
  }

  &__credit {
    margin: auto;
    width: 60%;
    @media (max-width: $bp-md) {
      width: 95%;
    }
  }

  &__credit-text {
    float: left;
    height: auto;
    margin-top: 25px;
    padding-right: 50px;
    width: grid-width(10, false);

    &--resumen {
      @media (max-width: $bp-md) {
        display: none;
      }
    }

    &--team {
      clear: both;
      float: left;
      @media (max-width: $bp-md) {
        font-size: 11px;
      }
    }
  }

  &__credit-logo-fondart {
    float: left;
    height: auto;
    margin-top: 25px;
    width: grid-width(2, false);

    & img {
      width: 100%;
    }
  }

  &__title {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    background: #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    float: left;
    height: 45px;
    position: fixed;
    width: 100%;
    z-index: 10;
    opacity: 1;
    transition: opacity 3s ease-in;

    &.main__title--hidden {
      opacity: 0;
      transition: opacity 3s ease-in;
    }

    & h1 {
      color: #fff;
      float: left;
      font-family: $font-title;
      font-size: 16px;
      font-weight: 400;
      margin-top: 10px;
      padding-left: 40px;
      @media (max-width: $bp-md) {
        font-size: 20px;
        margin-top: 8px;
      }
    }
    @media (max-width: $bp-md) {
      font-size: 20px;
      height: 50px;
    }
  }

  &-content {
    float: left;
    margin: 40px 0 0;
    width: 100%;

    @media (max-width: $bp-md) {
      margin: 50px 0 0;
    }
  }

  &__share {
    float: right;
    margin-right: 24px;
    margin-top: 10px;
    width: auto;
    @media (max-width: $bp-md) {
      margin-top: 14px;
    }

    &--flickr {
      background-color: #fff;
      background-image: url('../images/flickr.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 65%;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      float: right;
      height: 32px;
      width: 32px;
    }

    &--facebook {
      background-image: url('../images/facebook.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      cursor: pointer;
      display: flex;
      float: right;
      height: 25px;
      margin-right: -10px;
      margin-top: -4px;
      width: 25px;
    }
  }
}

.card {
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: .6s cubic-bezier(.165, .84, .44, 1);
  -webkit-transition: opacity 1s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  cursor: pointer;
  float: left;
  margin-top: -6px;
  opacity: .3;
  position: relative;
  transition: .6s cubic-bezier(.165, .84, .44, 1);
  transition: opacity 1s;
  width: grid-width(1, false);

  @media (max-width: $bp-md) {
    opacity: 1;
    width: grid-width(3, false);

  }
  @media (max-width: $bp-sm) {
    width: grid-width(3, false);
  }

  &:hover {
    -webkit-transform: scale(1.25, 1.25);
    box-shadow: unset;
    opacity: 1;
    transform: scale(1.25, 1.25);
    z-index: 2;

    @media (max-width: $bp-md) {
      -webkit-transform: unset;
      box-shadow: unset;
      transform: unset;
      z-index: unset;
    }
  }

  &__image {
    height: 100%;
    overflow: hidden;
    width: 100%;

    & img {
      height: 100%;
      width: 100%;
    }
  }

  & img {
    height: 100%;
    width: 100%;
  }
}

.modal {
  background-color: rgba(0, 0, 0, .5);
  font-family: $font-stack;
  height: 0;
  left: 20%;
  opacity: 0;
  padding-bottom: 36%;
  position: fixed;
  top: 16%;
  transform: scale(1.1);
  transition: visibility 3s linear .3s, opacity .3s 3s, transform .3s;
  visibility: hidden;
  width: 60%;
  z-index: 15;

  @media (max-width: $bp-md) {
    left: unset;
    top: 50px;
    width: 100%;
  }

  &__content {
    box-sizing: border-box;
    height: 100%;
    /*overflow: hidden;*/
    /*padding-bottom: 0%;*/
    position: absolute;
    width: 100%;
    z-index: 2;

    & img {
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;

      @media (max-width: $bp-md) {
        height: auto;
      }
    }

    & p {
      color: #fff;
      font-size: 16px;
      line-height: 28px;
      margin: 20px auto;
      text-align: center;
      width: 71%;
      @media (max-width: $bp-md) {
        font-size: 14px;
      }
    }
  }

  &__close {
    background-color: rgba(0, 0, 0, .1);
    background-image: url('../images/close_icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -26px;
    width: 25px;
    z-index: 5;
  }

  &__share {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    /* background: #777777; */
    cursor: pointer;
    /*display: none;*/
    float: right;
    height: 25px;
    line-height: 1.5rem;
    position: absolute;
    right: 64px;
    text-align: center;
    top: 20px;
    width: 1.5rem;
    width: 25px;
    z-index: 5;

    &--facebook {
      background-image: url('../images/facebook.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      border-radius: 50%;
      cursor: pointer;
      display: block;
      float: right;
      height: 32px;
      width: 32px;
    }
  }

  &__info {
    /* bottom: 0; */
    /* float: left; */
    /*background: rgba(0, 0, 0, .52);*/
    bottom: -60px;
    color: #fff;
    display: block;
    font-size: 13px;
    height: auto;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;

    @media (max-width: $bp-md + 100) {
      bottom: -25px;
    }
    @media (max-width: $bp-md) {
      bottom: -100px;
    }
    @media (max-width: $bp-sm + 100) {
      bottom: -70px;
    }
    @media (max-width: $bp-sm) {
      bottom: -65px;
    }
    @media (max-width: $bp-xs + 100) {
      bottom: -50px;
    }
    @media (max-width: $bp-xs) {
      bottom: -30px;
    }

    @media (max-width: $bp-xs - 100) {
      bottom: -25px;
    }
  }

  &__location {
    margin-right: 5px;
  }

  &__waveform {
    margin-top: 46%;
    position: relative;

    @media (max-width: $bp-xl + 100) {
      margin-top: 44%;
    }

    @media (max-width: $bp-xl) {
      margin-top: 43%;
    }

    @media (max-width: $bp-lg + 100) {
      margin-top: 41%;
    }

    @media (max-width: $bp-lg) {
      margin-top: 40%;
    }

    @media (max-width: $bp-md + 100) {
      margin-top: 46%;
    }

    @media (max-width: $bp-sm) {
      margin-top: 44%;
    }


  }

  &--show {
    opacity: 1;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity .25s 0s, transform .25s;
    visibility: visible;
  }
}

.bkg-modal {
  background: rgba(0, 0, 0, .68);
  display: block;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 14;

  @media (max-width: $bp-md + 100) {
    background: rgba(0, 0, 0, .8);
  }
}

.bkg-modal-opening {
  background: rgba(0, 0, 0, .68);
  display: block;
  height: 100vh;
  position: fixed;
  width: 100%;

  @media (max-width: $bp-md + 100) {
    background: rgba(0, 0, 0, .8);
  }
}

.crossfade > figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-position: center center;
  background-size: cover;
  color: transparent;
  display: block;
  height: 100%;
  left: 0;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}


#waveform {
  background: rgba(0, 0, 0, .8);

  & canvas {
    background: rgba(0, 0, 0, .52);
    width: 100%;
  }
}

.playpause {
  color: #fff;
  position: absolute;
  top: 20px;
  z-index: 333;
}

#c {
  background-color: #171719;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.target {
  background: #232323;
  color: #fff;
  font-size: 13px;
  height: 0;
  line-height: 22px;
  overflow: auto;
  position: fixed;
  top: 35px;
  transition: height .3s ease-in-out;
  width: 100%;
  z-index: 5;
  opacity: 1;
  transition: opacity 3s ease-in;
}


.max {
  height: 180px;
  transition: height .3s ease-in-out;
}

.creditos-trigger {
  background-color: #232323;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  float: left;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1;
  margin-right: 20px;
  margin-top: -4px;
  outline: 0;
  padding: 8px 12px;
  text-transform: uppercase;
  white-space: nowrap;
  @media (max-width: $bp-md) {
    font-size: 7px;
  }
}

.slogan-vdv {
  @media (max-width: $bp-md) {
    display: none;
  }
}

.open-modal {
  position: absolute;
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: white;
  display: flex;
  opacity: 1;
  transition: opacity 1s ease-out;

  .open-modal__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width:600px;
    position:relative;
  }
  
  .open-modal__content {
    transform: translateY(0);
    transition: transform 1s ease-out;
    text-align: center;
  }

  $intro-time-spacing: 0.25s;

  &.open-modal--init {
    .open-modal__wrapper{
      .open-modal__title {
        opacity: 0;
        transform: translateY(30px);
        transition: transform 1s ease-out, opacity 1s ease-out;
      }
    
      .open-modal__subtitle {
        opacity: 0;
        transform: translateY(30px);
        transition: transform 1s ease-out ($intro-time-spacing), opacity 1s ease-out ($intro-time-spacing);
      }
    
      p {
        opacity: 0;
        transform: translateY(30px);
        transition: transform 1s ease-out (2 * $intro-time-spacing), opacity 1s ease-out (2 * $intro-time-spacing);
  
      }
  
      button {
        opacity: 0;
        transition: transform 1s ease-out (2 * $intro-time-spacing + 1s), opacity 1s ease-out (2 * $intro-time-spacing + 1s);
      }

    }
  }
  
  &__title {
    display: block;
    font-size: 43px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    width: 100%;
    transform: translateY(0);
    transition: transform 1s ease-out, opacity 1s ease-out;
  }

  &__subtitle {
    display: block;
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 32px;
    transform: translateY(0);
    transition: transform 1s ease-out ($intro-time-spacing), opacity 1s ease-out ($intro-time-spacing);
  }

  p{
    transform: translateY(0);
    transition: transform 1s ease-out (2 * $intro-time-spacing), opacity 1s ease-out (2 * $intro-time-spacing);
  }

  button {
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background: transparent;
    padding: 12px 8px;
    margin-top: 24px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom:24px;
    transition: opacity 1s ease-out (2 * $intro-time-spacing + 1s);
  }

  button:hover {
    box-shadow: 2px 1px 1px rgba(255, 255, 255, 0.315);
  }
}

.wave-play {
  background-image: url('../images/play-icon.png');
  background-repeat: no-repeat;
  background-size: contain, cover;
  color: #fff;
  cursor: pointer;
  height: 60px;
  left: 46%;
  position: absolute;
  top: 32%;
  width: 60px;
  z-index: 4;
}
