@import 'variables';

@function grid-width($cols, $has-gutter: false) {

  @if $has-gutter {
    @return calc(((100% / #{$columns}) * #{$cols}) - #{$gutter});
  }
  @else {
    @return calc((100% / #{$columns}) * #{$cols});
  }
}
