@import 'variables';
@import 'mixins';

$imgCount: 24; // total number of images for the animation
$secsPerImg: 12;
$time: $imgCount * $secsPerImg; // total animation duration

ul.cb-slideshow {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.cb-slideshow li {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}

.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.cb-slideshow:after {
  content: '';
  background: transparent url(../images/pattern.png) repeat top left;
}

@mixin animationTime($duration) {
  -webkit-animation: imageAnimation #{$duration}s linear infinite 0s;
  -moz-animation: imageAnimation #{$duration}s linear infinite 0s;
  -o-animation: imageAnimation #{$duration}s linear infinite 0s;
  -ms-animation: imageAnimation #{$duration}s linear infinite 0s;
  animation: imageAnimation #{$duration}s linear infinite 0s;
}

@mixin animationDelayAndImg($totalTime, $numImgs) {
  @for $i from 1 through $numImgs {
    li:nth-child(#{$i}) span {
      background-image: url(../images/bkg#{$i}.jpg);
      -webkit-animation-delay: #{($i - 1) * ($totalTime / $numImgs)}s;
      -moz-animation-delay: #{($i - 1) * ($totalTime / $numImgs)}s;
      -o-animation-delay: #{($i - 1) * ($totalTime / $numImgs)}s;
      -ms-animation-delay: #{($i - 1) * ($totalTime / $numImgs)}s;
      animation-delay: #{($i - 1) * ($totalTime / $numImgs)}s;
    }
  }
}

.cb-slideshow li span {
  text-decoration: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  list-style: none;
  list-style-type: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  @include animationTime($time);
  list-style-type: none;
}

.cb-slideshow {
  @include animationDelayAndImg($time, $imgCount);
}

@mixin animationKeframeBuilder($endIn, $startOut, $endOut, $name) {
  $endFadeIn: $endIn * 1%;
  $startFadeOut: $startOut * 1%;
  $endFadeOut: $endOut * 1%;

  @keyframes #{$name} {
    0% {
      opacity: 0;
      animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
    }
    #{$endFadeIn} {
      opacity: 1;
    }
    #{$startFadeOut} {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    #{$endFadeOut} {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes #{$name} {
    0% {
      opacity: 0;
      -webkit-animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
    }
    #{$endFadeIn} {
      opacity: 1;
    }
    #{$startFadeOut} {
      opacity: 1;
      -webkit-animation-timing-function: ease-out;
    }
    #{$endFadeOut} {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @-moz-keyframes imageAnimation {
    0% {
      opacity: 0;
      -moz-animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
    }
    #{$endFadeIn} {
      opacity: 1;
    }
    #{$startFadeOut} {
      opacity: 1;
      -moz-animation-timing-function: ease-out;
    }
    #{$endFadeOut} {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @-o-keyframes imageAnimation {
    0% {
      opacity: 0;
      -o-animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
    }
    #{$endFadeIn} {
      opacity: 1;
    }
    #{$startFadeOut} {
      opacity: 1;
      -o-animation-timing-function: ease-out;
    }
    #{$endFadeOut} {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @-ms-keyframes imageAnimation {
    0% {
      opacity: 0;
      -ms-animation-timing-function: cubic-bezier(0.37, 0, 0.63, 1);
    }
    #{$endFadeIn} {
      opacity: 1;
    }
    #{$startFadeOut} {
      opacity: 1;
      -ms-animation-timing-function: ease-out;
    }
    #{$endFadeOut} {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}

@include animationKeframeBuilder(1.38, 4.18, 6.2, imageAnimation);

/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

.main-content {
  opacity: 1;
  transition: opacity 3s ease-in;

  &.main-content--hidden {
    opacity: 0;
    transition: opacity 3s ease-in;
  }
}

.main-content--hidden > * {
  display: none;
}

.cb-slideshow {
  opacity: 1;
  transition: opacity 3s ease-in;
  &.slides-closed > * {
    opacity: 0;
    transition: opacity 3s ease-in;
  }
}

.slides-closed > * {
  display: none;
}

#slides.cb-slideshow {
  @media (max-width: $bp-md) {
    display: none;
  }
}
