// Global Variables
/*@import url('https://fonts.googleapis.com/css?family=Elsie&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');*/

$body-color: #000;
$brand-color: #edf3f8;
$default-color: #fff;
$primary-color: #0072ce;
$secondary-color: #edf3f8;
$accent-color: #edf3f8;
$border-color: #d9f0ca;
$light-color: lighten($default-color, 20%);
$dark-color: darken($default-color, 20%);
$warning-color: #edf3f8;

$default-shadow: 0 0 rgba(0, 0, 0, .2);
// Cadenas de texto,con o sin comillas
$loading-message: 'Cargando...';
$thing: 'Fire Walk with me';
$title-message: 'Valle de Voces';

$font-stack: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-title: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-color: #333;
$font-input-color: #4b4b4b;
$color-link: #333;
$color-link-dark: #333;
$color-link-light: #333;
$f1: 36px;
$f2: 30px;
$f3: 24px;
$f4: 21px;
$f5: 18px;
$f6: 16px;
$f7: 13px;
$f8: 12px;
$f9: 10px;

$spacing: 30px;
$spacing-big: 30px;
$spacing-small: 30px;

$columns: 12;
$gutter: 15px;

$bp-xs: 420px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 999px;
$bp-xl: 1200px;
